extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
    +alert-error(5000)
    .container.my-5 
        .row.justify-content-center 
            .col-8
                h1(class="text-center") Đăng nhập tài khoản
                form(method="POST" action=`/user/login`)
                    div(class="mb-3")
                        label(for="email" class="form-label") Email
                        input(type="email" class="form-control" id="email" name="email" placeholder="" required)
                    div(class="mb-3")
                        label(for="password" class="form-label") Mật khẩu
                        input(type="password" class="form-control" id="password" name="password" placeholder="" required)
                    div(class="d-grid")
                        button(type="submit" class="btn btn-primary") Đăng nhập
                a(href="/user/password/forgot") Quên mật khẩu?
