extends ../../layouts/auth.pug
include ../../mixins/alert.pug

block main
    +alert-error(5000)

    h1(class="text-center") Đăng ký tài khoản
    form(method="POST" action=`/user/register`)
        div(class="mb-3")
            label(for="fullName" class="form-label") Họ và tên
            input(type="text" class="form-control" id="fullName" name="fullName" placeholder="" required)
        div(class="mb-3")
            label(for="email" class="form-label") Email
            input(type="email" class="form-control" id="email" name="email" placeholder="" required)
        div(class="mb-3")
            label(for="password" class="form-label") Mật khẩu
            input(type="password" class="form-control" id="password" name="password" placeholder="" required)
        div(class="d-grid")
            button(type="submit" class="btn btn-primary") Đăng ký
    script(src="/js/script.js")
